body {
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: #d6e6f2;
    color: #333;
    font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    background-color: #fdf5e6;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #333;
    color: #333;
    font-weight: bold;
}

    .cell:hover {
        background-color: #f5c6c6
    }
    
button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', monospace;
    color: #333;
    font-weight: bold;
    
}
    .button:hover {
        background-color: #fdf5e6;
    }
